/*Base CSS*/
a:hover{text-decoration: none !important;}
a:focus{outline:0 solid; text-decoration: none !important;}
input:focus, button:focus, textarea:focus, a:focus{outline: none;}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0 0 15px;
    font-weight: normal;
    font-family: 'CODELight',sans-serif;
}


/*End Base CSS*/

h1,h2{
  text-align: center;
}
h1{
    padding-top:100px;
}